@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #04294B;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.cancel {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    transform: rotate(45deg);
}

.cancel a {
    color: #fff;
}

section h1 {
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 100%;
    position: relative;
    top: -1px;
    font-weight: 100;
}

section h1 span {
    background-color: #04294B;
    padding: 5px 15px;
    border-radius: 0 0 10px 10px;
}

.container {
    width: 700px;
    height: 450px;
    background-color: #EEEEEE;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #04294B;
}

.container form {
    text-align: center;
}

.container form .content{
    display: flex;
    justify-content: space-around;
    row-gap: 10px;
}

.fan-name {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    width: 300px;
    height: 45px;
    background-color: #DDDDDD;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.purchase, .client {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.container form button {
    background-color: #04294D;
    border-radius: 20px;
    width: 160px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}

input[type='radio'], label {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inputs label {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media screen and (max-width: 600px) {
    section {
        height: auto;
        padding: 15px 0;
    }
    .container {
        width: 80%;
        height: auto;
        padding: 0 0 15px 0;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
    .purchase, .client {
        align-items: center;
        margin-top: 30px;
    }
    .fan-name, .inputs {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    section h1 span {
        font-size: 20px;
    }
}